<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerPage.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			console.log('socket working')
		</script>
		<style>
			body {
				background-color: darkblue;
				color:yellow;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
